@*@model IEnumerable<JNGH_IDENDITY.Models.ViewEmployees>*@
@model PagedList<JNGH_IDENDITY.Models.ViewEmployees>
@using Webdiyer.AspNetCore
@{
    ViewData["Title"] = "员工管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/lib/footable/css/footable.core.css" rel="stylesheet" />

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Sweet Alert -->
    <link href="css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>权限管理</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">主页</a>
            </li>
            <li class="breadcrumb-item">
                <a>权限管理</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>员工管理</strong>
            </li>
        </ol>
    </div>
</div>
<br />
<p>
    <a asp-action="CreateEmployee" class="btn btn-w-m btn-primary">新增员工</a>
</p>


<div class="form-group ">
    <form action="EmployeeList">
        <div class="input-group">
            <label class="col-lg-1 col-form-label" style="text-align:right">员工姓名</label>
            <input type="text" name="searchEmpName" />

            <label class="col-lg-1 col-form-label" style="text-align:right">职务</label>
            @Html.DropDownList("PostId", ViewBag.PostList as IEnumerable<SelectListItem>, "--请选择--")
            <label class="col-lg-1 col-form-label" style="text-align:right">部门</label>
            @Html.DropDownList("DeptId", ViewBag.DeptList as IEnumerable<SelectListItem>, "--请选择--")
            <label class="col-lg-1 col-form-label" style="text-align:right">是否是系统用户</label>
            @Html.DropDownList("IsUser", ViewBag.IsUser as IEnumerable<SelectListItem>, "--请选择--")

            <input type="submit" value="查询" class="btn btn-primary" style="margin-left:10px;" />
        </div>
    </form>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="footable table table-stripped toggle-arrow-tiny">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.EmpNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EmpName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MobilePhone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PostName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DeptName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShortName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RoleNames)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsUserName)
                                </th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmpNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmpName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.MobilePhone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PostName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeptName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShortName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoleNames)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsUserName)
                                    </td>
                                    <td>
                                        @Html.ActionLink("编辑", "EditEmployee", new { empid = item.EmpId, deptid = item.DeptId, compid = item.CompId, postid = item.PostId }, new { @class = "btn btn-primary btn-sm" }) |
                                        @Html.ActionLink("删除", "DeleteEmployee", new { id = item.EmpId, empNo = item.EmpNo }, new { @class = "btn btn-danger btn-sm", @onclick = "return confirm('确认删除？')" })
                                        @Html.ActionLink("重置密码", "ResetPassword", new { empNo = item.EmpNo, empName = item.EmpName }, new { @class = "btn btn-warning btn-sm " })
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10">
                                    <nav>
                                        @Html.Pager(Model, new PagerOptions
                                   {
                                       PageIndexParameterName = "pageIndex",
                                       TagName = "ul",
                                       CssClass = "pagination float-right",
                                       CurrentPagerItemTemplate = "<li class=\"page-item active\">" +
                                        "<a  class=\"page-link\" href=\"javascript:void(0);\">{0}</a></li>",
                                       DisabledPagerItemTemplate = "<li class=\"page-item disabled\">" +
                                       "<a class=\"page-link\">{0}</a></li>",
                                       PagerItemTemplate = "<li class=\"page-item\">{0}</li>",
                                       PagerItemCssClass = "page-link",
                                       Id = "bootstrappager"
                                   })
                                    </nav>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/footable/dist/footable.all.min.js"></script>

    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

    <!-- Sweet alert -->
    <script src="js/plugins/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript">
        //$(document).ready(function () {

        //    $('.footable').footable();
        //    $('.footable2').footable();
            
        //});


    </script>
}