@*@model IEnumerable<JNGH_IDENDITY.Models.ViewUser>*@
@model PagedList<JNGH_IDENDITY.Models.ViewUser>
@using Webdiyer.AspNetCore


@{
    ViewData["Title"] = "账号管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    @*<link href="~/lib/footable/css/footable.core.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" type="text/css" href="~/css/pagerstyles.css" />*@
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>账号管理</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">主页</a>
            </li>
            <li class="breadcrumb-item">
                <a>权限管理</a>
            </li>
            <li class="breadcrumb-item">
                <a>账号管理</a>
            </li>
        </ol>
    </div>
</div>
<br />
<p>
    <a asp-action="CreateUser" class="btn btn-w-m btn-primary">开设账号</a>
</p>

<br />
<div class="form-group">
    <form action="UserList">
        <div class="input-group">
            <label class="col-lg-1 col-form-label" style="text-align:right">员工姓名</label>
            <input type="text" name="EmpName" />
            <label class="col-lg-1 col-form-label" style="text-align:right">职务</label>
            @Html.DropDownList("PostId", ViewBag.PostList as IEnumerable<SelectListItem>, "--请选择--")
            <label class="col-lg-1 col-form-label" style="text-align:right">部门</label>
            @Html.DropDownList("DeptId", ViewBag.DeptList as IEnumerable<SelectListItem>, "--请选择--")
            <label class="col-lg-1 col-form-label" style="text-align:right">状态</label>
            @Html.DropDownList("IsEnable", ViewBag.IsEnableList as IEnumerable<SelectListItem>, "--请选择--")
            <input type="submit" value="查询" class="btn btn-primary" style="margin-left:10px;" />

        </div>
    </form>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @*<table class="footable table table-stripped toggle-arrow-tiny">*@
                    <table class=" table table-stripped toggle-arrow-tiny">
                        <thead>
                            <tr>
                                <th>
                                    登录账号
                                </th>

                                <th>
                                    角色
                                </th>
                                <th>
                                    员工姓名
                                </th>
                                <th>职务</th>
                                <th>部门</th>
                                <th>所属公司</th>
                                <th>
                                    创建者
                                </th>
                                <th>
                                    创建时间
                                </th>
                                <th>
                                    状态
                                </th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoleName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmpName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PostName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeptName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShortName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Creator)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EnableTag)
                                    </td>

                                    <td>
                                        @Html.ActionLink("修改状态", "ChangeLoginTag", new { UserId = item.Id }, new { @class = "btn btn-primary btn-sm " }) |
                                        @Html.ActionLink("重置密码", "ResetPassword", new { id = item.Id, userName = item.UserName }, new { @class = "btn btn-warning btn-sm " }) |
                                        @Html.ActionLink("编辑", "EditUser", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" }) |
                                        @Html.ActionLink("删除", "DeleteUser", new { id = item.Id }, new { @class = "btn btn-danger btn-sm", @onclick = "return confirm('确认删除？')" })

                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10" class="text-center">
                                    @*<ul class="pagination float-right"></ul>*@
                                    <nav>
                                        @Html.Pager(Model, new PagerOptions
                                   {
                                            PageIndexParameterName = "pageIndex",
                                       TagName = "ul",
                                       CssClass = "pagination float-right",
                                       CurrentPagerItemTemplate = "<li class=\"page-item active\">" +
                                        "<a  class=\"page-link\" href=\"javascript:void(0);\">{0}</a></li>",
                                       DisabledPagerItemTemplate = "<li class=\"page-item disabled\">" +
                                       "<a class=\"page-link\">{0}</a></li>",
                                       PagerItemTemplate = "<li class=\"page-item\">{0}</li>",
                                       PagerItemCssClass = "page-link",
                                       Id = "bootstrappager"
                                   })
                                    </nav>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*<script src="~/lib/footable/dist/footable.all.min.js"></script>
        <script type="text/javascript">
                //$(document).ready(function () {

                //    $('.footable').footable();
                //    $('.footable2').footable();
                //});
        </script>*@
}